/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  color: #333333;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  color: #ff4500;
  /* margin-left: 3px; */
  /* animation: glow1 1s ease-in-out infinite alternate; */
  
}
/* 
@-webkit-keyframes glow1 {
    from {
      text-shadow: 0 0 5px #e61b00, 0 0 10px #e64d00, 0 0 15px #e64900,
        0 0 20px #e63a00, 0 0 25px #e67700, 0 0 30px #e65100, 0 0 35px #e64900;
    }
  
    to {
      text-shadow: 0 0 5px #e60c00, 0 0 10px #e36666, 0 0 15px #e36666, 0 0 20px #e63a00;
    }
  } */
  


.noto-serif-devanagari-logo {
  font-family: "Noto Serif Devanagari", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  display: inline-block;
}

.btn {
  padding: 10px 20px;
  background-color: #ff4500;
  border: none;
  color: #333333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 15px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
